<!--Navbar -->
<nav [ngClass]="{'z-depth-0': scrollPos <= 35, 'z-depth-1': scrollPos > 35, 'bg-white navbar-light': !darkMode, 'elegant-color navbar-dark': darkMode}" class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <a class="navbar-brand h2 teal-text mt-2" routerLink="/home">
        <i class="fas fa-book-reader mx-2"></i> Mi Biblioteca
    </a>

    <div class="collapse navbar-collapse" [ngClass]="{'z-depth-0':innerWidth < 1000}" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link waves-effect" routerLink="/home">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
                <a class="nav-link waves-effect" routerLink="/about">Preguntas Frecuentes</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons align-content-between">
            <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img *ngIf="userData.imgAvatar" src="http://localhost:8080/biblio/uploads/img/{{userData.imgAvatar}}" class="rounded-circle img-navbar">
                    <img *ngIf="!userData.imgAvatar" src="http://localhost:8080/images/no-user.png" class="rounded-circle img-navbar">
                </a>
                <div [ngClass]="{
                            'dropdown-menu-right' : innerWidth >= 1000,
                            'dropdown-menu-left' : innerWidth < 1000
                            }" class="dropdown-menu dropdown-menu-right dropdown-default teal z-depth-1" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item text-white" [routerLink]="['/user', userData.id]"><i class="fas fa-arrow-right"></i> Actualizar mis datos</a>
                    <a class="dropdown-item text-white" (click)="salirCuenta()"><i class="fas fa-arrow-right"></i> Salir de mi cuenta</a>
                </div>
            </li>
            <li class="nav-item mt-3 ml-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="check" (change)="checkDarkMode(check)">
                    <label [ngClass]="{'text-white': darkMode}" class="custom-control-label" for="customSwitches">{{ darkMode==true? 'Tema oscuro':'Tema luminoso' }}</label>
                </div>
            </li>
        </ul>
    </div>
</nav>