.white-filter {
    filter: brightness(0) invert(1) opacity(80%);
}

.dropdown-item:hover {
    background-color: #00796b !important;
}

.custom-control-label {
    transition: .5s;
}

.img-navbar {
    width: 40px;
    height: 40px;
    background-color: rgb(44, 44, 44);
}