<div class="container-12 animated faster fadeInRightBig mt-5 py-5" [ngClass]="{'blue-grey darken-4': darkMode}">
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <!-- Button -->
                <a routerLink="/"
                    class="btn btn-block btn-return-red z-depth-0 waves-effect waves-light text-capitalize rounded-pill text-white"><i
                        class="fas fa-arrow-circle-left text-white"></i> Volver al inicio</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm mb-5">
                <!-- Card -->
                <div class="card teal darken-2">

                    <div class="accordion" id="cardFAQ">
                        <button class="btn btn-block text-white z-depth-0" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h6 class="card-title text-center text-capitalize mb-3">
                                ¿Quienes somos?
                            </h6>
                        </button>
                        <div id="collapseOne" class="collapse in show" aria-labelledby="headingOne"
                            data-parent="#cardFAQ">
                            <div [ngClass]="{'teal darken-1':darkMode,'bg-white':!darkMode}" class="card-body">
                                <!-- Text -->
                                <p class="card-text" [ngClass]="{'text-white':darkMode}">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic ut minus doloribus,
                                    nulla iure explicabo saepe fuga, ipsam non soluta voluptas, aliquid nesciunt nisi
                                    facilis deleniti voluptatibus quae eos? Labore.
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-block text-white z-depth-0" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h6 class="card-title text-center text-capitalize mb-3">
                                ¿Como solicito un prestamo?
                            </h6>
                        </button>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#cardFAQ">
                            <div [ngClass]="{'teal darken-1':darkMode,'bg-white':!darkMode}" class="card-body">
                                <!-- Text -->
                                <p class="card-text" [ngClass]="{'text-white':darkMode}">
                                    Si quieres solicitar un prestamo, debes ingresar en el modulo <b>Consulta
                                        bibliográfica</b>, para ello puedes pulsar el siguiente link.<br>¿Que esperas?,
                                    dale click y disfruta leyendo!
                                    <a routerLink="/search"
                                        class="btn btn-block btn-green text-white waves-effect waves-light rounded-pill mt-5">Ir
                                        al buscador</a>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-block text-white z-depth-0" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <h6 class="card-title text-center text-capitalize mb-3">
                                ¿Como puedo ver un prestamo vigente?
                            </h6>
                        </button>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#cardFAQ">
                            <div [ngClass]="{'teal darken-1':darkMode,'bg-white':!darkMode}" class="card-body">
                                <!-- Text -->
                                <p class="card-text" [ngClass]="{'text-white':darkMode}">
                                    Para poder ver tus prestamos vigentes, solo debes dirigirte al modulo <b>Mis
                                        Prestamos</b>, al cual puedes acceder a traves del siguiente link.
                                    <a routerLink="/prestamos"
                                        class="btn btn-block btn-green text-white waves-effect waves-light rounded-pill mt-5">ir
                                        a mis
                                        prestamos</a>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-block text-white z-depth-0" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
                            <h6 class="card-title text-center text-capitalize mb-3">
                                La ubicación de nuestra biblioteca.
                            </h6>
                        </button>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#cardFAQ">
                            <div [ngClass]="{'teal darken-1':darkMode,'bg-white':!darkMode}" class="card-body">
                                <!-- Text -->
                                <p class="card-text" [ngClass]="{'text-white':darkMode}"> Nuestra biblioteca se
                                    encuentra actualmente ubicada en el interior del Instituto profesional Santo Tomas,
                                    sede Vergara.<br>
                                    <br><b>Nuestro horario</b><br>
                                </p>
                                <table class="text-white border-white mb-5 text-center" border="1">
                                    <thead class="teal darken-4">
                                        <th class="px-3 py-2">Día</th>
                                        <th class="px-3 py-2">Hora de apertura</th>
                                        <th class="px-3 py-2">Hora de cierre</th>
                                    </thead>
                                    <tbody class="teal darken-3 p-1">
                                        <tr>
                                            <td>Lunes a jueves</td>
                                            <td>08:30 horas</td>
                                            <td>22:30 horas</td>
                                        </tr>
                                        <tr>
                                            <td>Viernes</td>
                                            <td>08:30 horas</td>
                                            <td>22:00 horas</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="card-text" [ngClass]="{'text-white':darkMode}">
                                    Nuestra ubicación en Google Maps
                                </p>
                                <!--Google map-->
                                <div id="map-container" class="map-container" style="height: 500px">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.001874087919!2d-70.66462328509164!3d-33.44925770483645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5073ec2bdd7%3A0x826a4dd94ba4f07f!2sInstituto%20Profesional%20Santo%20Tomas!5e0!3m2!1ses-419!2scl!4v1568768884622!5m2!1ses-419!2scl"
                                        frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>