<i class="h1 fas fa-book-reader mx-4 mt-4 text-muted"></i>
<div class="container">
    <p class="h3 my-5 text-center animated faster fadeIn">Registrar nuevo usuario</p>
    <!-- Back button-->
    <div class="card mx-2 mb-4 z-depth-0 animated fadeInUp faster">

        <div class="card-body bg-white z-depth-0 text-center">
            <div class="mx-1">
                <div class="alert alert-info mx-5">Por favor llene todos los campos solicitados.</div>
                <div class="md-form text-left">
                    <input type="text" id="RegisterFormUser" class="form-control my-3" [(ngModel)]="username">
                    <label for="inputUser">Usuario</label>
                    <small *ngIf="userInvalid" class="text-danger animated fadeIn faster">El usuario seleccionado no
                        esta disponible</small>
                </div>
                <div class="md-form text-left">
                    <input type="text" id="RegisterFormUser" class="form-control my-3" [(ngModel)]="rut">
                    <label for="inputUser">RUN</label>
                    <small id="Help" class="form-text text-muted">
                        Ejemplo de RUN: 19378388-0
                    </small>
                    <small *ngIf="empty == 0" class="text-danger animated fadeIn faster">Complete el campo solicitado
                        antes de continuar.</small>
                </div>
                <div class="md-form text-left">
                    <input type="text" id="RegisterFormUser" class="form-control my-3" [(ngModel)]="nameReal">
                    <label for="inputUser">Nombre</label>
                    <small *ngIf="empty == 1" class="text-danger animated fadeIn faster">Complete el campo solicitado
                        antes de continuar.</small>
                </div>
                <div class="md-form text-left">
                    <input type="text" id="RegisterFormUser" class="form-control my-3" [(ngModel)]="apePat">
                    <label for="inputUser">Apellido Paterno</label>
                    <small *ngIf="empty == 2" class="text-danger animated fadeIn faster">Complete el campo solicitado
                        antes de continuar.</small>
                </div>
                <div class="md-form text-left">
                    <input type="text" id="RegisterFormUser" class="form-control my-3" [(ngModel)]="apeMat">
                    <label for="inputUser">Apellido Materno</label>
                    <small *ngIf="empty == 3" class="text-danger animated fadeIn faster">Complete el campo solicitado
                        antes de continuar.</small>
                </div>
                <div class="md-form text-left">
                        <input type="text" id="RegisterFormUser" class="form-control my-3" [(ngModel)]="email">
                        <label for="inputUser">Correo electrónico</label>
                        <small *ngIf="empty == 4" class="text-danger animated fadeIn faster">Complete el campo solicitado
                            antes de continuar.</small>
                </div>
                <div class="md-form text-left">
                    <input type="password" id="RegisterFormPassword" class="form-control my-3" [(ngModel)]="password">
                    <label for="inputPass">Contraseña</label>
                    <small id="Help" class="form-text text-muted">
                        Tu contraseña debe contener minimo 8 caracteres.
                    </small>
                    <small *ngIf="passInvalid" class="text-danger">Contraseña ingresada no es valida.</small>
                </div>
                <div class="md-form text-left">
                    <input type="password" id="RegisterFormPasswordConf" class="form-control my-3"
                        [(ngModel)]="confPass">
                    <label for="inputPass">Confirmar Contraseña</label>
                    <small *ngIf="password != confPass" class="text-danger animated fadeIn faster">Las contraseñas no
                        coinciden.</small>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember"
                            [(ngModel)]="check" (change)="checkCheckBoxvalue(check)">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Acepto los terminos y
                            condiciones</label>
                    </div>
                    <small *ngIf="terminsError" class="text-danger">Para continuar debe aceptar los terminos y
                        condiciones.</small>
                </div>
            </div>

            <!-- Register button -->
            <button class="btn my-5 btn-block btn-success waves-effect waves-light text-capitalize rounded-pill"
                type="submit" (click)="registerUser()">Crear
                usuario</button>

            <a routerLink="/login"
                class="btn btn-block btn-danger waves-effect waves-light text-capitalize rounded-pill"><i
                    class="fas fa-arrow-circle-left text-white"></i> Cancelar registro</a>
        </div>
    </div>
</div>