<i class="h1 fas fa-book-reader mx-4 mt-4" [ngClass]="{'text-white': darkMode, 'text-muted': !darkMode}"></i>
<div class="container">
    <p class="h3 my-5 text-center animated faster fadeIn" [ngClass]="{'text-white': darkMode}">Registrar nuevo usuario</p>
    <!-- Back button-->
    <div class="card mx-2 mb-4 z-depth-0 animated fadeInUp faster" [ngClass]="{'elegant-color': darkMode,'bg-white':!darkMode}">

        <div class="card-body z-depth-0 text-center" [ngClass]="{'elegant-color': darkMode,'bg-white':!darkMode}">
            <div class="container-fluid">
                <div class="alert alert-info mx-5">Por favor llene todos los campos solicitados.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form (ngSubmit)="create()">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="md-form text-left">
                                <input type="text" class="form-control my-3" [(ngModel)]="user.username" name="username">
                                <label for="inputUser" [ngClass]="{'text-white': darkMode}">Usuario</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="md-form text-left">
                                <input type="text" class="form-control my-3" [(ngModel)]="user.email" name="email">
                                <label for="inputUser" [ngClass]="{'text-white': darkMode}">E-mail</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="md-form text-left">
                                <input type="text" class="form-control my-3" [(ngModel)]="user.rut" name="rut">
                                <label for="inputUser" [ngClass]="{'text-white': darkMode}">RUN</label>
                                <small id="Help" class="form-text" [ngClass]="{'text-white': darkMode, 'text-muted': !darkMode}">
                                        Ejemplo de RUN: 19378388-0</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="md-form text-left">
                                <input type="text" class="form-control my-3" [(ngModel)]="user.nombre" name="nombre">
                                <label for="inputUser" [ngClass]="{'text-white': darkMode}">Nombre</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="md-form text-left">
                                <input type="text" class="form-control my-3" [(ngModel)]="user.apellidoPaterno" name="apellidoPaterno">
                                <label for="inputUser" [ngClass]="{'text-white': darkMode}">Apellido Paterno</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="md-form text-left">
                                <input type="text" class="form-control my-3" [(ngModel)]="user.apellidoMaterno" name="apellidoMaterno">
                                <label for="inputUser" [ngClass]="{'text-white': darkMode}">Apellido Materno</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="md-form text-left">
                                <input type="password" class="form-control my-3" [(ngModel)]="user.password" name="password">
                                <label for="inputPass" [ngClass]="{'text-white': darkMode}">Contraseña</label>
                                <small id="Help" class="form-text" [ngClass]="{'text-white': darkMode, 'text-muted': !darkMode}">
                                        Tu contraseña debe contener minimo 8 caracteres.</small>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row mb-5">
                    <div class="col-sm-12">
                        <div class="md-form text-left">
                            <input type="password" class="form-control" [(ngModel)]="confPass">
                            <label for="inputPass" [ngClass]="{'text-white': darkMode}">Confirmar Contraseña</label>
                            <small *ngIf="user.password != confPass" class="text-danger animated fadeIn faster">Las contraseñas no
                                    coinciden.</small>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember" [(ngModel)]="check" (change)="checkCheckBoxvalue(check)">
                            <label class="custom-control-label" [ngClass]="{'text-white': darkMode}" for="defaultLoginFormRemember">Acepto los terminos y
                                                condiciones</label>
                        </div>
                        <small *ngIf="terminsError" class="text-danger">Para continuar debe aceptar los terminos y
                                            condiciones.</small>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6 mt-3">
                        <a routerLink="/login" class="btn btn-block btn-danger waves-effect waves-light text-capitalize rounded-pill"><i
                                    class="fas fa-arrow-circle-left text-white"></i> Cancelar registro</a>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <button class="btn btn-block btn-success waves-effect waves-light text-capitalize rounded-pill" type="submit" (click)="registerUser()">Crear
                                        usuario</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>