<div class="container animated faster fadeInUp py-5" [ngClass]="{'text-white': darkMode}">
    <div class="row">
        <div class="col-sm">
            <!-- Button -->

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm">
            <div class="alert alert-warning m-2 z-depth-0">
                <u><b>Aviso</b></u>
                <br>Para hacer efectiva la modificación de sus datos, debe pulsar el botón 'actualizar datos'.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorInput = !errorInput">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form *ngIf="user" class="my-5">
        <div class="row p-5">
            <div class="col-sm">
                <p class="text-center h4-responsive">Datos del usuario: <b>{{user.username}}</b></p>
            </div>
        </div>
        <div class="form-group row mb-5 bg-transparent-dark py-4 mx-1">
            <div class="col-sm-12 text-center">
                <p>Foto de perfil</p>
                <img *ngIf="user?.imgAvatar" src="http://localhost:8080/biblio/uploads/img/{{user.imgAvatar}}" class="img-size z-depth-1">
                <img *ngIf="!user?.imgAvatar" src="http://localhost:8080/images/no-user.png" class="img-size z-depth-1">
                <div *ngIf="progreso > 0" class="progress mt-3" style="height: 35px">
                    <div *ngIf="progreso < 100" class="progress-bar progress-bar-striped progress-bar-animated bg-success" [ngStyle]="{width: progreso + '%'}" style="height: 35px" role="progressbar" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                        {{progreso}}%
                    </div>
                    <div *ngIf="progreso == 100" class="progress-bar progress-bar-striped progress-bar-animated bg-success" [ngStyle]="{width: progreso + '%'}" style="height: 35px" role="progressbar" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                        Completado
                    </div>
                </div>
                <br><br>
                <div class="input-group">
                    <div class="custom-file mt-1">
                        <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputFile">
                        <label class="custom-file-label text-left" for="inputFile">{{ selImage }}</label>
                    </div>
                    <div class="input-group-append">
                        <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-success btn-block rounded-pill z-depth-0" type="button" id="inputGroupFileAddon04">Subir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm">
                Nombre de usuario:
            </div>
            <div class="col-sm">
                <input type="text" class="form-control disabled border-info" [(ngModel)]="user.username" name="username">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm">
                Rol único nacional (RUN)
            </div>
            <div class="col-sm">
                <input type="text" class="form-control disabled border-info" [(ngModel)]="user.rut" name="rut" formatRut>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm">
                Nombre
            </div>
            <div class="col-sm">
                <input type="text" class="form-control border-info" [(ngModel)]="user.nombre" name="nombre">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm">
                Apellido Paterno
            </div>
            <div class="col-sm">
                <input type="text" class="form-control border-info" [(ngModel)]="user.apellidoPaterno" name="apellidoPaterno">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm">
                Apellido Materno
            </div>
            <div class="col-sm">
                <input type="text" class="form-control border-info" [(ngModel)]="user.apellidoMaterno" name="apellidoMaterno">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm">
                Correo electrónico
            </div>
            <div class="col-sm">
                <input type="text" class="form-control border-info" [(ngModel)]="user.email" name="email">
            </div>
        </div>
        <br>
        <div class="form-group row my-5 text-center">
            <div class="col-sm-6 my-2">
                <button [routerLink]="['/home']" class="btn z-depth-0 btn-block btn-return-red waves-effect waves-light text-capitalize rounded-pill text-white"><i
                        class="fas fa-arrow-circle-left text-white"></i> Volver al inicio</button>
            </div>
            <div class="col-sm-6 my-2">
                <button (click)="updateUser()" class="btn z-depth-0 btn-block btn-success waves-effect waves-light text-capitalize rounded-pill text-white">Actualizar datos</button>
            </div>
        </div>
    </form>
</div>