<div class="container animated faster fadeIn" [ngClass]="{'elegant-color': darkMode}">
    <div class="row my-5 align-content-between">
        <div class="col-sm-6">
            <i class="h1 fas fa-book-reader animated faster fadeIn" [ngClass]="{'text-white': darkMode, 'text-muted': !darkMode}"></i>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h4 mb-5 text-center" [ngClass]="{'text-white': darkMode, 'text-muted': !darkMode}">Recuperar contraseña</p>
            <div class="alert alert-info mx-3 my-3">Para recuperar su contraseña, llene los campos solicitados y luego pulse enviar.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <form class="container my-2">
                <div class="md-form">
                    <i class="fas fa-mail-bulk prefix color-ico"></i>
                    <input type="text" id="LoginFormUser" class="form-control mb-4" [(ngModel)]="email" name="email" required>
                    <label for="inputUser" [ngClass]="{'text-white': darkMode}">E-mail registrado</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-user prefix color-ico"></i>
                    <input type="password" id="LoginFormPassword" class="form-control" [(ngModel)]="username" name="username" required>
                    <label for="inputPass" [ngClass]="{'text-white': darkMode}">Usuario registrado</label>
                </div>
                <!-- Usuario -->
                <div *ngIf="errorInput" class="alert alert-danger mx-3 my-3 animated faster fadeIn">Usuario o e-mail registrado no esta registrado actualmente.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorInput = !errorInput">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row text-center py-5">
                    <div class="col-sm-6">
                        <!-- Back button-->
                        <a routerLink="/login" class="btn btn-danger m-2 z-depth-0 rounded-pill"><i
                                class="fas fa-arrow-circle-left text-white"></i> Volver al inicio</a>
                    </div>
                    <div class="col-sm-6">
                        <!-- Register button -->
                        <button type="submit" class="btn btn-success z-depth-0 rounded-pill m-2" type="submit" (click)="recuperaPass()">Recuperar contraseña</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>