input[type=text]:focus:not([readonly]) + label, .color-ico{
    color: #009688 !important; 
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #009688 !important;
    border-color: #009688 !important;
}

.md-form input[type=text]:focus, input[type=password]:focus {

    box-shadow: 0 1px 0 0#009688 !important;
    border-bottom: 1px solid #009688 !important;
    } 

    .md-form input:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid teal;
        box-shadow: none;
        color: teal;
    }
    
    .md-form input:not(.browser-default) {
        background-color: rgb(230, 230, 230);
        transition: all .5 ease-in-out !important;
        color: #333;
    }
    
    .fas {
        color: #999;
        font-weight: 600;
    }
    
    .md-form .prefix.active {
        color: #999;
    }