<div class="container faster animated fadeInRightBig mt-5 py-5">
    <div class="row">
        <div class="col-sm-12">
            <!-- Button -->
            <a routerLink="/" class="btn btn-block btn-return-red waves-effect waves-light text-capitalize rounded-pill text-white z-depth-0"><i
                    class="fas fa-arrow-circle-left text-white"></i> Volver al inicio</a>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="md-form md-outline text-left">
                <i class="fas fa-book prefix color-ico"></i>
                <input type="text" id="SearchForm" class="form-control mb-4" [(ngModel)]="valorBusqueda" (keyup)="buscarMB(valorBusqueda)">
                <label for="SearchForm" class="bg-transparent" [ngClass]="{'text-white':darkMode}">Buscar Libro</label>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12">
            <h5 class="animated faster fadeIn" *ngIf="mBiblioBuscado.length >= 0 && valorBusqueda.length >= 1" [ngClass]="{'text-white':darkMode}">
                Buscando el material bibliográfico "{{termino}}"
            </h5>
        </div>
    </div>
    <div class="row animated fadeInRightBig faster" *ngIf="mBiblioBuscado.length == 0 && valorBusqueda.length >= 1">

        <div class="col-sm-12">
            <div class="alert alert-info z-depth-0" role="alert">
                Opps, no hemos encontrado el material bibliográfico que buscas.
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="card-columns" *ngIf="!(valorBusqueda.length >= 1)">
            <app-card-materialbiblio (mbSeleccionado)="verMaterial( $event )" [materialbiblio]="mbiblio" [index]="mbiblio.id" *ngFor="let mbiblio of materialBibliografico"></app-card-materialbiblio>
        </div>
        <div class="card-columns" *ngIf="valorBusqueda.length >= 1">
            <app-card-materialbiblio (mbSeleccionado)="verMaterial( $event )" [materialbiblio]="mbiblio" [index]="mbiblio.id" *ngFor="let mbiblio of mBiblioBuscado"></app-card-materialbiblio>
        </div>
    </div>
</div>