.btn {
  text-transform: capitalize;
}

.fadeOut {
  animation: fadeOut .5s;
}

@keyframes fadeOut {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.rotate180 {
  animation: rotate180 .3s;
}

@keyframes rotate180 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animated-transition{
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

.card-special-bottom {
  display: float;
}

.rgba-teal-strong, .rgba-teal-strong::after{
  //background: linear-gradient(rgba(0,150,136,.7), rgba(0,150,136,.5));
  background: linear-gradient(rgba(0,150,136,.8) 35%, rgba(0, 0, 0, .1) 60%);
}

@media (max-width: 1000px) {
  .rgba-teal-strong, .rgba-teal-strong::after{
    //background: linear-gradient(rgba(0,150,136,.7), rgba(0,150,136,.5));
    background: linear-gradient(rgba(0,150,136,.8),rgba(2, 56, 51, 0.8));
  }
}

.img-fluid{
  filter: saturate(1);
}