<div class="container-fluid py-5 animated faster fadeIn" [ngClass]="{'blue-grey darken-3': darkMode, 'white': !darkMode, 'p-5': (innerWidth > 600)}">
    <div class="row align-content-between">
        <div class="col">
            <i class="h1-responsive fas fa-book-reader"
                [ngClass]="{'text-white': darkMode, 'text-muted': !darkMode}"></i>
        </div>
        <div class="col text-right">
            <mat-slide-toggle [(ngModel)]="checkDark" (change)="checkDarkMode(checkDark)" [ngClass]="{'text-white': darkMode}">
                        {{ darkMode==true? 'Dark Theme':'Light Theme' }}
            </mat-slide-toggle>
        </div>
    </div>
    <div class="row justify-content-between" [ngClass]="{'pt-5': innerWidth > 600}">
        <div class="col-sm-5 ml-auto">
            <img *ngIf="innerWidth > 600" src="../../../assets/img/svg/login.svg" class="img-fluid">
        </div>
        <div class="col-sm-5 mr-auto">
            <div class="row py-5 px-2 rounded">
                <div class="col">
                    <p class="h3-responsive py-5 text-center"
                        [ngClass]="{'text-white': darkMode, 'text-muted': !darkMode}">
                        Iniciar sesión
                    </p>
                    <form (ngSubmit)="validarLogin()" class="container mb-5">
                        <div class="md-form md-outline">
                            <i class="fas fa-user prefix"></i>
                            <input type="text" name="username" placeholder="Usuario" class="form-control"
                                [(ngModel)]="username" (keyup.enter)="validarLogin()">
                        </div>
                        <div class="md-form md-outline">
                            <i class="fas fa-key prefix"></i>
                            <input type="password" name="password" placeholder="Contraseña" class="form-control"
                                [(ngModel)]="password" (keyup.enter)="validarLogin()">
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember"
                                        name="remeber" [(ngModel)]="check" (change)="checkCheckBoxvalue(check)">
                                    <label class="custom-control-label" [ngClass]="{ 'text-white': darkMode}"
                                        for="defaultLoginFormRemember">Mantener sesión
                                        iniciada</label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="errorLogin"
                            class=" text-center alert alert-danger mx-3 mt-2 animated faster fadeInLeftBig h6-responsive">
                            Usuario o contraseña ingresado no es valido, por favor verifique sus datos de acceso e
                            intente
                            nuevamente.
                            <button type="button " class="close " data-dismiss="alert " aria-label="Close "
                                (click)="errorLogin=! errorLogin ">
                                <span aria-hidden="true ">&times;</span>
                            </button>
                        </div>
                        <p class="my-3 text-center">
                            <a routerLink="/login/register"
                                [ngClass]="{ 'text-white': darkMode, 'text-muted': !darkMode} ">¿No estas
                                registrado?, <b>Registrate aquí</b></a>

                        </p>
                        <p class="my-3 text-center">
                            <a routerLink="/login/forget"
                                [ngClass]="{ 'text-white': darkMode, 'text-muted': !darkMode} ">¿Olvidaste
                                tu contraseña?</a>
                        </p>
                    </form>
                    <button class="btn btn-block btn-teal rounded-pill" (click)="validarLogin()">Ingresar</button>
                </div>
            </div>
        </div>
    </div>

</div>