<div class="container-12 background-one py-5 px-2 animated faster fadeInLeftBig" [ngClass]="{'blue-grey darken-4': darkMode }">
    <div class="row py-5">
        <div class="col-sm-4 ml-auto" [ngClass]="{'order-2':innerWidth < 1000}">
            <p class="h2-responsive text-left text-white">Bienvenido <b>{{ user.nombre }}</b> a Mi biblioteca</p>
            <p class="h6-responsive text-left text-white-50">En esta plataforma podrás revisar nuestro catalogo y los
                materiales bibliográficos que has solicitados.</p>
        </div>
        <div class="col-sm-4 mx-auto" [ngClass]="{'order-1':innerWidth < 1000}">
            <img src="../../assets/img/svg/read-book.svg" class="img-fluid" alt="placeholder">
        </div>
    </div>
</div>
<div class="container-fluid animated faster fadeInLeftBig" [ngClass]="{'blue-grey darken-3': darkMode }">
    <div class="row">
        <div class="col">
            <p class="text-center p-3 h3-responsive" [ngClass]="{'text-white': darkMode }">Servicios disponibles en nuestra biblioteca</p>
        </div>
    </div>
    <div class="row py-5" [ngClass]="{'blue-grey darken-4':darkMode, 'grey lighten-4':!darkMode}">
        <div class="col-sm-5 ml-auto" [ngClass]="{'mb-5':innerWidth < 1000}">
            <img class="card-img" src="../../assets/img/svg/reading-book.svg" alt="Card image cap">
        </div>
        <div class="col-sm-5 p-5 mr-auto">
            <h6 class="text-left h2-responsive" [ngClass]="{'text-white':darkMode}">
                Prestamos vigentes</h6>
            <p class="card-text" [ngClass]="{'text-white':darkMode, 'teal-text':!darkMode}">¿Tienes algún prestamo
                vigente y quieres conocer cuando debes devolverlo?, aqui puedes obtener esa información y mucho más.</p>
            <a routerLink="/prestamos" class="btn btn-block btn-teal rounded-pill my-3">ir a mis
                prestamos</a>
        </div>
    </div>
    <div class="row py-5" [ngClass]="{'blue-grey darken-3':darkMode}">

        <div class="col-sm-5 p-5 ml-auto" [ngClass]="{'order-2':innerWidth < 1000}">
            <h6 class="text-left h2-responsive" [ngClass]="{'text-white':darkMode}">
                Consultar material bibliográfico</h6>
            <p class="card-text" [ngClass]="{'text-white':darkMode, 'teal-text':!darkMode}">Aqui puedes consultar
                nuestros materiales bibliográficos disponibles y si te interesa, solicitar un prestamo.</p>
            <a routerLink="/search" class="btn btn-block btn-teal rounded-pill my-3">Ir al
                buscador</a>
        </div>
        <div class="col-sm-5 mr-auto" [ngClass]="{'order-1 mb-5':innerWidth < 1000}">
            <img class="card-img" src="../../../assets/img/svg/bibliophile.svg" alt="Card image cap">
        </div>
    </div>
</div>
<app-footer></app-footer>