.btn {
    text-transform: capitalize;
}

p b u {
    text-transform: capitalize;
}

.head-img {
    background-image: url(../../../assets/img/abstract.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/*.rgba-teal-strong, .rgba-teal-strong::after{
  //background: linear-gradient(rgba(0,150,136,.7), rgba(0,150,136,.5));
  background: linear-gradient(rgba(0,150,136,.8) 35%, rgba(0, 0, 0, .1) 60%);
}

@media (max-width: 1000px) {
  .rgba-teal-strong, .rgba-teal-strong::after{
    //background: linear-gradient(rgba(0,150,136,.7), rgba(0,150,136,.5));
    background: linear-gradient(rgba(0,150,136,.8),rgba(2, 56, 51, 0.8));
  }
}*/

.img-fluid {
    filter: saturate(1);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #009688 !important;
    background-color: #009688 !important;
}