.background-one {
  background-color: teal;
  background-image: -webkit-linear-gradient(30deg, teal 50%, rgb(12, 180, 180) 50%);
  min-height: 500px;
}

.img-fluid {
    filter: saturate(1);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #009688 !important;
    background-color: #009688 !important;
}