<app-navbar></app-navbar>

<div class="container animated faster fadeInUp">
    <div class="row mt-3">
        <div class="col-sm">
            <!-- Button -->
            <a routerLink="/home"
                class="btn btn-block btn-return-red waves-effect waves-light text-capitalize rounded-pill text-white"><i
                    class="fas fa-arrow-circle-left text-white"></i> Volver al inicio</a>
        </div>
    </div>
    <div class="row mt-5">
            <div class="col-sm">
                <div class="alert alert-warning m-2 z-depth-0">
                    Los datos mostrados a continuación solo pueden ser modificados con los permisos respectivos.
                </div>
            </div>
        </div>
    <div class="row mt-5">
        <div class="col-sm">
            <div class="card-tittle z-depth-0">
                <h3 class="text-center">Datos de usuario</h3>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <b>Nombre de usuario:</b>
        </div>
        <div class="col-sm">
            {{userData.username}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <b>Nombre completo</b>
        </div>
        <div class="col-sm">
            {{userData.nombre}} {{userData.apellidoPaterno}} {{userData.apellidoMaterno}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <b>Rol único nacional (RUN)</b>
        </div>
        <div class="col-sm">
            {{userData.rut}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <b>Correo Electrónico</b>
        </div>
        <div class="col-sm">
            {{userData.email}}
        </div>
    </div>
</div>